*~
*.suo
*.user
*.userprefs
.*.swp
*.csproj.DotSettings
.idea
.vs
.vscode
output/
bin/
obj/
.out/
/global.json
appsettings.local.json
options_prices.csv
stocks.txt
stocks*.txt
call_values*.csv
put_values*.csv
put_spreads*.csv
ChromeUserData
